.logo{
    padding-bottom: 50px;
}
.log-bt{
    padding-bottom: 20px;
}
html {
    height: 100% !important;
}
body{

    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
#login-form{
    background-color: white;
    text-align: left;
    margin:auto;
    margin-top: 50px;
    border-radius:15px;
    padding: 50px 100px 50px 100px;
    width: 1200px;
}
#login h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
}
.last{
    padding-bottom: 20px;
}
.log-img{
    position:relative;
    padding: 0px;
    right: 10px;
    width: 350px;
    padding: 0;
    top: 60px;
    margin-bottom:100px;
}
@media (max-width:1600px){
    body{
        background-image: linear-gradient(315deg, #ffffff 0%, #ffffff 74%);
    }
}
.ret-home{
    text-decoration: none;
	color: #000000
}
.ret-home:hover{
    text-decoration: none;
	color: #6e6e6e
}
.gap{
    padding-top: 15px;
}
#log-title h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
}