.logo{
    padding-bottom: 50px;
}
.log-bt{
    padding-bottom: 20px;
}
html {
    height: 100% !important;
}
body{

    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
#login-form{
    background-color: white;
    text-align: left;
    margin:auto;
    margin-top: 60px;
    border-radius:15px;
    padding: 50px 100px 50px 100px;
    width: 1500px;
}
#login h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.last{
    padding-bottom: 20px;
}