#title{
    background-color: #6E3CBC;
}
.logout-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    left: 5px;
    top: 5px;
}
#navbarSupportedContent a{
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-itemX{
    width: 60px;
    height: 60px;
    background-color: #219F94;
    border-radius: 50%;
    position: relative;
}
